---
subject:   ''
preheader: ''
---

{% extends "layouts/template_4.html" %}



{% block header %}
<span class="lrs">{{ image('https://london-robotics-school.co.uk./robo_theme/static/img/logo.svg', 'LondonRoboticsSholl', LondonRoboticsSholl, 100, 53, 'mailto:info@london-robotics-school.co.uk', center='true')}}
</span>{% endblock %}
{% block content %}



<hr style="border:1px soilid #000;">
<table border="0"  >
    <tr >
        <td style="padding-top: 16px;"><span>{{ button('View Inviice', 'https://go' ) }}</span></td>
        <td><span style="font-size: 14px; padding: 0px 15px;"> <code>{check}</code>  <br/><code>{price}</code> due <code>{date}</code></span></td>
    </tr>
</table>
<hr style="border:1px soilid #000;">

Dear <code>{name}</code>

Here is your invoice **<code>{check}</code>** (with reference: S00012) amounting in **<code>{price}</code>** from London Robotics Sholl LTD. Please remit paymant at your earliest convenience.

Please use the following communication for your payment :**<code>{check}</code>**

Please fill out the following forms:<br/>
<a href="#">Medical form</a><br/>
<a href="#">Consent to be photographed or filmed</a><br/>
<a href="#">Child collection form</a>

<br/>

Do not hesitate to contact us if you have any questions

<br/>
<hr style="border:1px soilid #322d2d;">

**London Robotics Shool LTD**</br>
<span class="footer__connector-text"><a class="color-grey-footer" href="tel:+44(0)7415460611">+44(0)7415460611</a> | <a class="color-grey-footer" href="mailto:info@london-robotics-school.co.uk">info@london-robotics-school.co.uk</a> | <a class="color-grey-footer" href="https://london-robotics-school.co.uk./">https://london-robotics-school.co.uk./</a></span>




{% endblock %}