---
subject:   ''
preheader: ''
---

{% extends "layouts/template_3.html" %}

{% block image %}
<span style="margin: 0px; position: absolute; right: 0 ; top:0px;" >
    {{ image('https://london-robotics-school.co.uk./robo_theme/static/img/logo.svg', 'LondonRoboticsSholl', LondonRoboticsSholl, 141, 53, 'mailto:info@london-robotics-school.co.uk', center='true')}}
</span>

{% endblock %}

{% block generationText %}



<h2 style="margin: 0px;" ><code>New ticket</code></h2>



{% endblock %}




{% block content %}

</br>

<hr style="border:1px dashed  #000; width:110px; Margin-left:0px ;">
</br>
Hello, <code>{name}</code>

A new ticket has benn created with the following details

Ticket name <code>{ticket}</code>

Description: <code>{Description}</code>

</br>

<hr style="border:1px dashed  #000; display: block; width:110px; Margin-left:0px ;">


<span class="footer__connector-text"> Have questions? Email us at  <a href="mailto:info@london-robotics-school.co.uk">info@london-robotics-school.co.uk</a></span>




{% endblock %}
