---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Prezado cliente**

O seu código de verificação é <code>{code}</code>

_Atenciosamente FinFlow._

<br>

{% endblock %}

{% block generationText %}
{{ generationText("Este e-mail foi gerado automaticamente não é necessário responder")}}
{% endblock %}



