---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Szanowny kliencie**

Twój kod weryfikacyjny to <code>{code}</code>

_Z poważaniem FinFlow._

<br>

{% endblock %}

{% block generationText %}
{{ generationText("Ten e-mail został wygenerowany automatycznie nie trzeba na niego odpowiadać")}}
{% endblock %}



