---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://remitfinch.com/online/assets/vendors/REMITFINCH/mail/header.jpg', 'REMINTFINCH', REMINTFINCH, width, height, 'mailto:cash.inter@yahoo.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Уважаемый клиент**

Ваш проверочный код - <code>{code}</code>

_Искренне ваша Remitfinch._

<br>

{% endblock %}

{% block generationText %}
{{ generationText("Это письмо было сгенерировано автоматически отвечать на него не нужно")}}
{% endblock %}