---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Шановний клієнт**

Ваш перевірочний код- <code>{code}</code>

_Щиро ваша FinFlow._

<br>
{% endblock %}

{% block generationText %}
{{ generationText("Цей лист було згенеровано автоматично відповідати на нього не потрібно")}}
{% endblock %}



