---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Cher client**

Votre code de vérification est <code>{code}</code>

_Cordialement vôtre BESTPAY s. r. o._

<br>

{% endblock %}


{% block generationText %}
{{ generationText("Cet e-mail a été généré automatiquement pour y répondre n'a pas besoin")}}
{% endblock %}