---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Kính gửi khách hàng**

Mã xác minh của bạn là <code >{code}</code>

_Trân trọng của bạn bestpay s. r. o._

<br>

{% endblock %}


{% block generationText %}
{{ generationText("Email này được tạo tự động không cần phải trả lời nó")}}
{% endblock %}