---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

#####  **Dear customer**

Your verification code is <code>{code}</code>

_Sincerely yours, WinMall._


<br>

{% endblock %}

{% block generationText %}
{{ generationText("This email was generated automatically there is no need to reply to it")}}
{% endblock %}