---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://everestremit.pt/online/online/assets/vendors/EVERESTREMIT/mail/header.jpg', 'EVEREST', EVEREST, width, height, 'mailto:info@everestremit.pt', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Gentile cliente**

Il tuo codice di verifica è <code> {code}</code>

_Cordiali saluti Everestremit._


<br>
{% endblock %}


{% block generationText %}
{{ generationText("Questa email è stata generata automaticamente non è necessario rispondere")}}
{% endblock %}