---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://everestremit.pt/online/online/assets/vendors/EVERESTREMIT/mail/header.jpg', 'EVEREST', EVEREST, width, height, 'mailto:info@everestremit.pt', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Değerli müşterimiz**

Doğrulama kodunuz <code>{code}</code> şeklindedir.

_Saygılarımla Everestremit._

<br>

{% endblock %}

{% block generationText %}
{{ generationText("Bu e-postanın otomatik olarak yanıtlanması gerekmediği oluşturuldu")}}
{% endblock %}