---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://everestremit.pt/online/online/assets/vendors/EVERESTREMIT/mail/header.jpg', 'EVEREST', EVEREST, width, height, 'mailto:info@everestremit.pt', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Уважаемый клиент**

Ваш проверочный код - <code>{code}</code>

_Искренне ваша Everestremit._

<br>
{% endblock %}

{% block generationText %}
{{ generationText("Это письмо было сгенерировано автоматически отвечать на него не нужно")}}
{% endblock %}