---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Kính gửi khách hàng**

Mã xác minh của bạn là <code >{code}</code>

_Trân trọng của bạn WinMall._

<br>

{% endblock %}

{% block generationText %}
{{ generationText("Email này được tạo tự động không cần phải trả lời nó")}}
{% endblock %}