---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Cher client**

Votre code de vérification est <code>{code}</code>

_Cordialement vôtre FinFlow._


<br>
{% endblock %}

{% block generationText %}
{{ generationText("Cet e-mail a été généré automatiquement pour y répondre n'a pas besoin")}}
{% endblock %}



