---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Stimate client**

Codul dvs. de verificare este <code>{code}</code>

_Cu stimă a ta WinMall._


<br>

{% endblock %}

{% block generationText %}
{{ generationText("Acest e-mail a fost generat automat nu este nevoie să răspundă la ea")}}
{% endblock %}