---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Kära kund**

Din verifieringskod är <code>{code} </code>

_Med vänlig hälsning BESTPAY s.r.o._

<br>

{% endblock %}

{% block generationText %}
{{ generationText("Acest e-mail a fost generat automat nu este nevoie să răspundă la ea")}}
{% endblock %}