---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://remitfinch.com/online/assets/vendors/REMITFINCH/mail/header.jpg', 'REMINTFINCH', REMINTFINCH, width, height, 'mailto:cash.inter@yahoo.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Шановний клієнт**

Ваш перевірочний код- <code>{code}</code>

_Щиро ваша Remitfinch._

<br>

{% endblock %}


{% block generationText %}
{{ generationText("Цей лист було згенеровано автоматично відповідати на нього не потрібно")}}
{% endblock %}