---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Gentile cliente**

Il tuo codice di verifica è <code> {code}</code>

_Cordiali saluti FinFlow._


<br>
{% endblock %}

{% block generationText %}
{{ generationText("Questa email è stata generata automaticamente non è necessario rispondere")}}
{% endblock %}


