---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

#####  **Sehr geehrter Kunde**

Ihr Bestätigungscode lautet <code>{code}</code>

_Mit freundlichen Grüßen WinMall._



<br>

{% endblock %}

{% block generationText %}
{{ generationText("Diese E-Mail wurde automatisch generiert und muss nicht automatisch beantwortet werden")}}
{% endblock %}