---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}


### **We are glad to offer you cooperation**


Dear team,

#### You have worked hard for your name, now your name can bring you additional income. We have an opportunity for your new income — our **BESTPAY** online money transfer service.
<hr>

**How does it work?** We will create a website and a mobile App for you free of charge under your brand. After that your customers will be able to send money transfers online under our license, and you can enjoy additional income in the amount of **50% of our net income.**
<hr>

##### Your company, your brand and your customers – our software and our license


<hr>

We already have a successful example of such a project with **SPOKO** in Poland


{{ button('See the example', 'https://spoko.app/en/') }}

</br>
</br>

We could do the same for you and I would like to discuss the details of our cooperation.

</br>

When do you have time for that?

</br>

Best regards,</br>
Nikolay Belov</br>
Business Development</br>


**[BESTPAY s.r.o.](https://bpay.cz/)</br>**
Mobile +420 734 428 402</br>
| Office +420 221 501 021</br>
Purkyňova 74/2, Praha 1, 110 00</br>
Czech National Bank (CNB)</br>
Ref. No.: 2019/136082/CNB/570
{% endblock %}