---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Sehr geehrter Kunde**


Der Anhang enthält Informationen zum Empfang einer Überweisung. Sie haben diese E-Mail erhalten, weil
in der Mitte der Überweisung wurde Ihre E-Mail-Adresse angegeben.


#### Dieser Brief erfordert keine Antwort.

_Mit freundlichen Grüßen, BESTPAY s.r.o._

<br>

{% endblock %}
