---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://everestremit.pt/online/online/assets/vendors/EVERESTREMIT/mail/header.jpg', 'EVEREST', EVEREST, width, height, 'mailto:info@everestremit.pt', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Cher client**


La pièce jointe contient des informations pour recevoir un transfert d'argent. Vous avez reçu cet e-mail parce que
l'expéditeur du transfert d'argent a indiqué votre adresse e-mail.


#### Cette lettre ne nécessite pas de réponse.

_Cordialement, Everestremit._

<br>

{% endblock %}