---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>


##### **Stimate client**


Atașamentul conține informații pentru primirea unui transfer de bani. Ați primit acest e-mail deoarece
expeditorul transferului de bani a indicat adresa dvs. de e-mail.


#### Această scrisoare nu necesită un răspuns.

_Cu stimă, WinMall._

<br>

{% endblock %}