---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://remitfinch.com/online/assets/vendors/REMITFINCH/mail/header.jpg', 'REMINTFINCH', REMINTFINCH, width, height, 'mailto:cash.inter@yahoo.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Cher client**


La pièce jointe contient des informations pour recevoir un transfert d'argent. Vous avez reçu cet e-mail parce que
l'expéditeur du transfert d'argent a indiqué votre adresse e-mail.


#### Cette lettre ne nécessite pas de réponse.

_Cordialement, Remitfinch._


<br>
{% endblock %}