---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Prezado cliente**


O anexo contém informações para receber uma transferência de dinheiro. Recebeu este e-mail porque
o remetente da transferência de dinheiro indicou o seu endereço de E-mail.


#### Esta carta não requer uma resposta.

_Atenciosamente, WinMall._

<br>

{% endblock %}