---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Vážený zákazníku,**
Tato příloha obsahuje informace potřebné k přijetí převodu peněz. Získal jste tento e-mail, protože odesílatel uvedl  Vaši emailovou adresu. 

Na tento e-mail nemusíte odpovídat.

_S pozdravem, WinMall._


<br>

{% endblock %}