---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://remitfinch.com/online/assets/vendors/REMITFINCH/mail/header.jpg', 'REMINTFINCH', REMINTFINCH, width, height, 'mailto:cash.inter@yahoo.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Kính gửi khách hàng**


Tệp đính kèm chứa thông tin để nhận chuyển tiền. Bạn đã nhận được email này vì
người gửi chuyển tiền cho biết địa chỉ email của bạn.


#### Thư này không yêu cầu câu trả lời . 

_Trân trọng của bạn, Remitfinch._

<br>
{% endblock %}