---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Gentile cliente**


L'allegato contiene informazioni per ricevere un trasferimento di denaro. Hai ricevuto questa email perché
il mittente del trasferimento di denaro ha indicato il tuo indirizzo e-mail.


#### Questa lettera non richiede una risposta .

_Cordiali saluti, FinFlow._


<br>

{% endblock %}




