---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Hurmatli mijoz**


Ilovada pul o'tkazmasini olish uchun ma'lumotlar mavjud. Siz ushbu elektron pochtani oldingiz, chunki
pul o'tkazmasini yuboruvchi sizning elektron pochta manzilingizni ko'rsatdi.


#### Ushbu xat javobni talab qilmaydi.

_Hurmat bilan, WinMall._

<br>

{% endblock %}