---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Kính gửi khách hàng**


Tệp đính kèm chứa thông tin để nhận chuyển tiền. Bạn đã nhận được email này vì
người gửi chuyển tiền cho biết địa chỉ email của bạn.


#### Thư này không yêu cầu câu trả lời . 

_Trân trọng của bạn, FinFlow._

<br>

{% endblock %}



