---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Gerbiamas kliente**

Priede yra informacijos, kaip gauti pinigų pervedimą. Jūs gavote šį laišką, nes
pinigų pervedimo siuntėjas nurodė jūsų el.


#### Šis laiškas nereikalauja atsakymo.

_Nuoširdžiai jūsų, Winmail._

<br>

{% endblock %}