---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Sehr geehrter Kunde**


Der Anhang enthält Informationen zum Empfang einer Überweisung. Sie haben diese E-Mail erhalten, weil
in der Mitte der Überweisung wurde Ihre E-Mail-Adresse angegeben.


#### Dieser Brief erfordert keine Antwort.

_Mit freundlichen Grüßen, FinFlow._

<br>

{% endblock %}




