---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Hurmatli mijoz**


Ilovada pul o'tkazmasini olish uchun ma'lumotlar mavjud. Siz ushbu elektron pochtani oldingiz, chunki
pul o'tkazmasini yuboruvchi sizning elektron pochta manzilingizni ko'rsatdi.


#### Ushbu xat javobni talab qilmaydi.

_Hurmat bilan, FinFlow._

<br>

{% endblock %}




