---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Değerli müşterimiz**


Ek, para transferi almak için bilgiler içerir. Bu e-postayı aldınız çünkü
para transferini gönderen kişi e-posta adresinizi belirtti.


#### Bu mektup bir cevap gerektirmez.

_Saygılarımla, WinMall._

<br>

{% endblock %}