---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Dear customer**


The attachment contains information for receiving a money transfer. You received this email because
the sender of the money transfer indicated your email address.


#### This letter does not require an answer.

_Sincerely yours, BESTPAY s.r.o._
<hr>

##### **Vážený zákazníku,**

Tato příloha obsahuje informace potřebné k přijetí převodu peněz. Získal jste tento e-mail, protože odesílatel uvedl  Vaši emailovou adresu. 

Na tento e-mail nemusíte odpovídat.

_S pozdravem, BESTPAY s.r.o._


<br>

{% endblock %}
