---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://remitfinch.com/online/assets/vendors/REMITFINCH/mail/header.jpg', 'REMINTFINCH', REMINTFINCH, width, height, 'mailto:cash.inter@yahoo.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Уважаемый клиент**


В приложении содержится информация для получения денежного перевода. Вы получили это письмо, потому что
отправитель денежного перевода указал ваш адрес электронной почты.


#### Это письмо не требует ответа .

_С уважением, Remitfinch._


<br>
{% endblock %}