---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://everestremit.pt/online/online/assets/vendors/EVERESTREMIT/mail/header.jpg', 'EVEREST', EVEREST, width, height, 'mailto:info@everestremit.pt', center='true')}}
{% endblock %}

{% block content %}

<br>

##### Vážený zákazníku,
Tato příloha obsahuje informace potřebné k přijetí převodu peněz. Získal jste tento e-mail, protože odesílatel uvedl  Vaši emailovou adresu. 

Na tento e-mail nemusíte odpovídat.

_S pozdravem, Everestremit._


<br>


{% endblock %}