---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>


##### **Estimado cliente**

El archivo adjunto contiene información para recibir una transferencia de dinero. Recibiste este correo electrónico porque
el remitente de la transferencia de dinero indicó su dirección de correo electrónico.


#### Esta carta no requiere respuesta.

_Atentamente, WinMall._


<br>

{% endblock %}