---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Шановний клієнт**


У вкладенні міститься інформація для отримання грошового переказу. Ви отримали цей електронний лист, тому
що відправник грошового переказу вказав Вашу адресу електронної пошти.


#### Цей лист не вимагає відповіді.

_Щиро ваш, FinFlow._

<br>

{% endblock %}




