---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

#####  **Dear customer**


The attachment contains information for receiving a money transfer. You received this email because
the sender of the money transfer indicated your email address.


#### This letter does not require an answer.

_Sincerely yours, FinFlow._


<br>

{% endblock %}




