---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Prezado cliente**


O anexo contém informações para receber uma transferência de dinheiro. Recebeu este e-mail porque
o remetente da transferência de dinheiro indicou o seu endereço de E-mail.


#### Esta carta não requer uma resposta.

_Atenciosamente, FinFlow._

<br>

{% endblock %}




