---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Stimate client**


Atașamentul conține informații pentru primirea unui transfer de bani. Ați primit acest e-mail deoarece
expeditorul transferului de bani a indicat adresa dvs. de e-mail.


#### Această scrisoare nu necesită un răspuns.

_Cu stimă, FinFlow._

<br>

{% endblock %}




