---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Gentile cliente**


L'allegato contiene informazioni per ricevere un trasferimento di denaro. Hai ricevuto questa email perché
il mittente del trasferimento di denaro ha indicato il tuo indirizzo e-mail.


#### Questa lettera non richiede una risposta .

_Cordiali saluti, BESTPAY s.r. o._


<br>

{% endblock %}