---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Gentile cliente**


L'allegato contiene informazioni per ricevere un trasferimento di denaro. Hai ricevuto questa email perché
il mittente del trasferimento di denaro ha indicato il tuo indirizzo e-mail.


#### Questa lettera non richiede una risposta.

_Cordiali saluti Winmail._

<br>

{% endblock %}