---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://ff-online.ffsw.dev/online/assets/vendors/FINFLOW/mail/header.jpg', 'Finflow', Finflow, width, height, 'mailto:info@finflowsoft.com', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Szanowny kliencie**


Załącznik zawiera informacje dotyczące otrzymania przelewu. Otrzymałeś ten e-mail, ponieważ
środek przelewu wskazywał Twój adres e-mail.


#### Ten List nie wymaga odpowiedzi.

_Z poważaniem, FinFlow._

<br>

{% endblock %}




