---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://everestremit.pt/online/online/assets/vendors/EVERESTREMIT/mail/header.jpg', 'EVEREST', EVEREST, width, height, 'mailto:info@everestremit.pt', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Шановний клієнт**


У вкладенні міститься інформація для отримання грошового переказу. Ви отримали цей електронний лист, тому
що відправник грошового переказу вказав Вашу адресу електронної пошти.


#### Цей лист не вимагає відповіді.

_Щиро ваш, Everestremit._


<br>
{% endblock %}