---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Szanowny kliencie**


Załącznik zawiera informacje dotyczące otrzymania przelewu. Otrzymałeś ten e-mail, ponieważ
środek przelewu wskazywał Twój adres e-mail.


#### Ten List nie wymaga odpowiedzi.

_Z poważaniem, BESTPAY s.r.O._

<br>

{% endblock %}