---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Уважаемый клиент**

Благодарим вас за то, что вы решили зарегистрироваться у нас!

Пожалуйста, ознакомьтесь с прилагаемыми общими положениями и условиями и ссылками на <a href="https://bpay.cz/en-gb/privacy-policy?type=business">политика конфиденциальности</a>, 
<a href="https://bpay.cz/en-gb/complaint-procedure?type=business">Политика рассмотрения жалоб</a>,
<a href="https://bpay.cz/en-gb/price-list?type=business">Прайс-лист</a> и <a href="https://bpay.cz/en-gb/information-sheet?type=business">Информационный лист</a>
компании BESTPAY s.r.o., чтобы у вас была собственная копия действительных документов.


Для полной верификации вашей учетной записи, пожалуйста, пройдите верификацию и предоставьте документ, удостоверяющий личность.
Это может быть либо удостоверение личности, либо паспорт, в зависимости от оценки вас как нашего клиента.
Кроме того, будьте готовы к тому, что во время процесса вам будет предложено сделать селфи.


Первый платеж за ваш денежный перевод должен быть произведен и подтвержден с вашего банковского счета, открытого в банке на территории ЕС, чтобы подтвердить его существование.

Как только все необходимые шаги будут выполнены, ваша учетная запись, как мы полагаем, должна быть успешно верифицирована, и вы можете начать ею пользоваться.


_Искренне ваша WinMall._


<br>

{% endblock %}

{% block generationText %}
{{ generationText("Это письмо было сгенерировано автоматически отвечать на него не нужно")}}
{% endblock %}