---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### **Шановний клієнт**

Дякуємо Вам за те, що Ви вирішили зареєструватися у нас!

Будь ласка, ознайомтеся з доданими Загальними положеннями та умовами та посиланнями на <a href="https://bpay.cz/en-gb/privacy-policy?type=business">Політика конфіденційності</a>,
 <a href="https://bpay.cz/en-gb/complaint-procedure?type=business">Політика розгляду скарг</a>,
<a href="https://bpay.cz/en-gb/price-list?type=business">Прайс-лист</a> і <a href="https://bpay.cz/en-gb/information-sheet?type=business">Інформаційний лист</a>
від BESTPAY s. r. o., тож у вас є своя копія дійсних документів.


Для повної верифікації вашого облікового запису, будь ласка, пройдіть верифікацію і надайте документ, що засвідчує особу.
Це може бути або посвідчення особи, або паспорт, залежно від оцінки вас як нашого клієнта.
Крім того, будьте готові до того, що під час процесу вам буде запропоновано зробити селфі.


Перший платіж за ваш грошовий переказ повинен бути здійснений і підтверджений з вашого банківського рахунку, відкритого в банку на території ЄС, щоб підтвердити його існування.

Як тільки всі необхідні кроки будуть виконані, ваш обліковий запис, як ми вважаємо, повинна бути успішно верифікована, і ви можете почати нею користуватися.


_Щиро ваша WinMall._


<br>

{% endblock %}


{% block generationText %}
{{ generationText("Цей лист було згенеровано автоматично відповідати на нього не потрібно")}}
{% endblock %}