---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### 日安！ 要更改您的帐户电话号码，您必须完成以下步骤:


1. 用传送门拍一张自己拿着护照的照片[TIME.IS](https://time.is/United_Kingdom) 的背景上。 护照信息应清晰可见。 这张照片应该在拍摄之日起10分钟内作为对当前信件的回应转发。 重要！ 所有护照证件应清晰可见。 背景屏幕也应该清晰可见。

2. 使用格式：+хх ххх ххх хххххх将您以前和新的电话号码附加到字母中。

3. 指定您的最后一个转移目的地国家/地区（如果适用）。

_谢谢。 致以最良好的问候_

<br>


{% endblock %}

{% block generationText %}
{{ generationText("这封电子邮件是自动生成的，没有必要回复它")}}
{% endblock %}