---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://bpay.cz/online/assets/vendors/BESTPAY/mail/header.jpg', 'BESTPAY', BESTPAY, width, height, 'mailto:info@bpay.cz', center='true')}}
{% endblock %}

{% block content %}

<br>

##### Добрий день! Щоб змінити номер телефону свого облікового запису, вам потрібно виконати такі дії:


1. Сфотографуйте себе з паспортом в руках на порталі [TIME.IS ](https://time.is/United_Kingdom ) на задньому плані. Паспортні дані повинні бути чітко видні. Фотографія повинна бути відправлена в якості відповіді на поточний лист протягом 10 хвилин з моменту зйомки. важливо! Всі паспортні дані повинні бути чітко видно. Фоновий екран також повинен бути добре видно.

2. Прикладіть до листа свій попередній і Новий номери телефонів у форматі: +хх ххх ххх хххххх.

3. Вкажіть, якою була країна призначення вашого останнього трансферу (якщо це можливо).

_Спасибі вам. з повагою_

<br>


{% endblock %}

{% block generationText %}
{{ generationText("Цей лист було згенеровано автоматично відповідати на нього не потрібно")}}
{% endblock %}