---
subject:   ''
preheader: ''
---

{% extends "layouts/default.html" %}

{% block header %}
{{ header('https://winmall-remit.it/online/assets/vendors/WINMALL/mail/header.jpg', 'WinMall', WinMall, width, height, 'mailto:support@winmall-remit.it', center='true')}}
{% endblock %}

{% block content %}

<br>

##### Добрый день! Чтобы изменить номер телефона вашей учетной записи, вам необходимо выполнить следующие действия:


1. Сфотографируйте себя с паспортом в руках на портале [TIME.IS ](https://time.is/United_Kingdom ) на заднем плане. Паспортные данные должны быть четко видны. Фотография должна быть отправлена в качестве ответа на текущее письмо в течение 10 минут с момента съемки. важный! Все паспортные данные должны быть четко видны. Фоновый экран также должен быть хорошо виден.

2. Приложите к письму свой предыдущий и новый номера телефонов в формате: +хх ххх ххх хххххх.

3. Укажите, какой была страна назначения вашего последнего трансфера (если применимо).

_Спасибо вам. с уважением_

<br>


{% endblock %}

{% block generationText %}
{{ generationText("Это письмо было сгенерировано автоматически отвечать на него не нужно")}}
{% endblock %}