---
subject:   ''
preheader: ''
---

{% extends "layouts/template_2.html" %}


{% block connector %}

{{ image('https://connector.solutions/Themes/Orchard.ConnectorSolutions/Content/mail/logo.png', 'ConnectorSolution', ConnectorSolution, 138, 30, 'mailto:support@connector.solutions', center='true')}}

**<h2>New password for your account </h2>** 

Hello, <code>{name}</code>

Your new password for authorization on <a href="https://connector.solutions/">connector.solutions</a> :

<code>{password}</code>

<span class="footer__connector-text">Have questions? Email us at <a href="mailto:support@connector.solutions">support@connector.solutions</a></span> 

{% endblock %}